.calendar{
    width: 100%;
    padding: 15px 20px;
    border: 2px solid #fff;
    border-radius: 5px;
    font-size: 15px;
    background-color: #616e7a;
    color: #ffffff;
}

.MuiSvgIcon-root {
    color: #4C5760;
}