.container {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.logo {
    margin: 20px auto;
}

.logo>img {
    max-width: 300px;
}

.container-center {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: center;
}


/* -------------------- */

@keyframes slideInLeft {
    from {
        opacity: 0;
        transform: translateX(-10px);
    }

    to {
        opacity: 1;
        transform: translateX(0);
    }
}

@keyframes slideInRight {
    from {
        opacity: 0;
        transform: translateX(10px);
    }

    to {
        opacity: 1;
        transform: translateX(0);
    }
}