.container {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.logo {
    margin: 20px auto;
}

.logo>img {
    max-width: 300px;
}

.container-center {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: center;
}

.services {
    display: flex;
    flex-direction: column;
    border-radius: 5px;
    height: auto;
    color: #4C5760;
    width: 350px;
    margin: 10px 0;
    gap: 10px;
}

.services>h1 {
    font-size: 20px;
}

.services>div {
    display: flex;
    flex-direction: row;
    gap: 5px;
}

.services>div>div {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 5px;
    width: 100%;
    background-color: #fff;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0 1px 1px 1px rgba(0, 0, 0, 0.1);
}

.services img {
    max-width: 90px;
    border-radius: 5px;
}

.select-service {
    display: flex;
    flex-direction: column;
    font-size: 12px;
}

.select-service button {
    padding: 6px 10px;
    border: 0;
    border-radius: 5px;
    color: #fff;
    background-color: #4C5760;
}

.welcome {
    background: url("../../assets/ftUnhas/modeloUnhas.jpg") no-repeat center center;
    background-size: cover;
    width: 350px;
    height: 30dvh;
    border-radius: 20px;
    display: flex;
    justify-content: flex-end;
    align-items: flex-start;
    box-sizing: border-box;
}

.text-welcome {
    color: #fff;
    background: radial-gradient(circle at 500% center, #000000 0%, #7a134b 40%, transparent 100%);
    height: 100%;
    width: 100%;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: space-between;
}

.text-welcome>.text {
    width: 170px;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.text-action {
    display: none;
}

.text-welcome h1 {
    font-size: 1.2rem;
    font-weight: 600;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2);
}

.text-welcome p {
    font-size: 12px;
    font-weight: 400;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2);
}

.text-welcome button {
    background-color: #4C5760;
    border: 0;
    border-radius: 20px;
    padding: 10px 10px;
    color: #fff;
    font-size: 12px;
    font-weight: bold;
    margin-top: 10px;
}

.reviews {
    margin-top: 10px;
    margin-bottom: 60px;
    color: #4C5760;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.reviews>h1 {
    font-size: 20px;
}

.reviews>div{
    overflow: hidden;
}

.reviews>div>div {
    display: flex;
    gap: 20px;
}

.reviews>div>div>div {
    border-radius: 5px;
    background-color: #fff;
    box-shadow: 0 1px 1px 1px rgba(0, 0, 0, 0.1);
    min-width: 0;
    flex: 0 0 100%;
    padding: 30px 20px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.reviews h4 {
    align-self: center;
}

.footer {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    gap: 40px;
    position: fixed;
    bottom: 10px;
}

.footer a {
    cursor: pointer;
    display: flex;
    gap: 5px;
    color: #fff;
    background-color: #4C5760;
    padding: 10px 10px;
    border-radius: 50px;
    box-shadow: 0 1px 1px 1px rgba(0, 0, 0, 0.1);
}

.footer>a>span {
    display: none;
}


/* -------------------- */

@keyframes slideInLeft {
    from {
        opacity: 0;
        transform: translateX(-10px);
    }

    to {
        opacity: 1;
        transform: translateX(0);
    }
}

@keyframes slideInRight {
    from {
        opacity: 0;
        transform: translateX(10px);
    }

    to {
        opacity: 1;
        transform: translateX(0);
    }
}


/* -------------------- */

@media (min-width: 480px) and (max-width: 768px) {

    .services {
        width: 430px;
    }

    .services>div {
        gap: 5px;
    }

    .services>div>div {
        gap: 10px;
    }

    .services img {
        max-width: 100px;
    }

    .select-service {
        font-size: 14px;
        gap: 5px;
    }

    .select-service button {
        padding: 6px 10px;
        font-size: 16px;
    }

    .welcome {
        width: 430px;
        height: 30dvh;
    }

    .text-welcome>.text {
        width: 230px;
    }

    .text-action {
        display: none;
    }

    .text-welcome h1 {
        font-size: 1.6rem;
    }

    .text-welcome p {
        font-size: 12px;
    }

    .text-welcome button {
        padding: 10px 30px;
        font-size: 15px;
    }

    .reviews>div {
        width: 430px;
    }

    .footer>a>span {
        display: none;
    }
}

@media (min-width: 768px) and (max-width: 992px) {

    .logo {
        margin: 20px auto;
    }

    .logo>img {
        max-width: 300px;
    }

    .services {
        width: 600px;
    }

    .services>div {
        gap: 40px;
    }

    .services>div>div {
        gap: 10px;
    }

    .services img {
        max-width: 150px;
    }

    .select-service {
        font-size: 18px;
        gap: 10px;
    }

    .select-service button {
        padding: 6px 10px;
        font-size: 18px;
    }

    .welcome {
        width: 600px;
        height: 38dvh;
    }

    .text-welcome>.text {
        width: 250px;
    }

    .text-action {
        display: flex;
        position: relative;
        left: -140px;
        bottom: 10px;
    }

    .text-welcome h1 {
        font-size: 2rem;
    }

    .text-welcome p {
        font-size: 13px;
    }

    .text-welcome button {
        padding: 10px 30px;
        font-size: 15px;
    }

    .reviews>div {
        width: 600px;
    }

    .footer a {
        align-items: center;
        padding: 10px 20px;
    }

    .footer>a>span {
        display: flex;
    }
}

@media (min-width: 992px) {
    .services {
        top: calc(50% - 200px);
        animation: slideInLeft 0.8s ease-out forwards;
    }

    .reviews {
        top: calc(50% - 200px);
        animation: slideInRight 0.8s ease-out forwards;
    }
}

@media (min-width: 992px) and (max-width: 1200px) {
    .container {
        gap: 40px;
    }

    .logo {
        margin-top: 10px;
    }

    .logo>img {
        max-width: 400px;
    }

    .container-center {
        flex-direction: row;
        align-items: flex-start;
        position: relative;
    }

    .services {
        gap: 10px;
        position: absolute;
        left: -130px;
    }

    .services>div {
        max-width: 200px;
        padding: 5px;
        background-color: rgb(244, 239, 235);
        box-shadow: 0 1px 1px 1px rgba(0, 0, 0, 0.1);
        flex-direction: column;
        border-radius: 5px;
    }

    .services>div>div {
        flex-direction: row;
        justify-content: space-between;
    }

    .services img {
        max-width: 60px;
    }

    .select-service {
        font-size: 14px;
        gap: 30px;
        align-items: flex-end;
    }

    .welcome {
        width: 700px;
        height: 60dvh;
    }

    .text-welcome>.text {
        width: 250px;
        justify-content: flex-start;
        margin-right: 120px;
        margin-top: 40px;
    }

    .text-action {
        display: flex;
        position: absolute;
        bottom: 5%;
        left: 25%;
    }

    .text-welcome h1 {
        font-size: 2rem;
    }

    .text-welcome p {
        font-size: 1rem;
    }

    .text-welcome button {
        padding: 10px 30px;
        font-size: 18px;
        margin-top: 20px;
    }

    .reviews {
        right: -120px;
        position: absolute;
    }

    .reviews>h1 {
        align-self: flex-end;
    }

    .reviews>div {
        border-radius: 5px;
        max-width: 230px;
    }

    .footer {
        gap: 20px;
        bottom: 10px;
    }

    .footer a {
        flex-direction: row;
        flex-wrap: nowrap;
        align-items: center;
        padding: 10px 20px;
    }

    .footer>a>span {
        display: flex;
    }
}

@media (min-width: 1200px) and (max-width: 1400px) {
    .container {
        justify-content: space-evenly;
    }

    .logo {
        margin: 0;
    }

    .logo>img {
        max-width: 600px;
    }

    .container-center {
        flex-direction: row;
        align-items: flex-start;
        position: relative;
    }

    .services {
        gap: 10px;
        position: absolute;
        left: -130px;
    }

    .services>div {
        max-width: 245px;
        padding: 10px;
        background-color: rgb(244, 239, 235);
        box-shadow: 0 1px 1px 1px rgba(0, 0, 0, 0.1);
        flex-direction: column;
        border-radius: 5px;
        max-height: 350px;
    }

    .services>div>div {
        flex-direction: row;
        justify-content: space-between;
    }

    .services img {
        max-width: 60px;
    }

    .select-service {
        font-size: 15px;
        gap: 30px;
        align-items: flex-end;
    }

    .welcome {
        width: 900px;
        height: 70dvh;
    }

    .text-welcome>.text {
        width: 300px;
        justify-content: flex-start;
        margin-right: 150px;
        margin-top: 40px;
    }

    .text-action {
        display: flex;
        position: absolute;
        bottom: 5%;
        left: 25%;
    }

    .text-welcome h1 {
        font-size: 2.2rem;
    }

    .text-welcome p {
        font-size: 1rem;
    }

    .text-welcome button {
        padding: 10px 50px;
        font-size: 18px;
        margin-top: 20px;
    }

    .reviews {
        right: -120px;
        position: absolute;
    }

    .reviews>h1 {
        align-self: flex-end;
    }

    .reviews>div {
        border-radius: 5px;
        max-width: 250px;
    }

    .footer {
        gap: 20px;
        position: relative;
        bottom: 0;
    }

    .footer a {
        flex-direction: row;
        flex-wrap: nowrap;
        align-items: center;
        padding: 10px 20px;
    }

    .footer>a>span {
        display: flex;
    }
}

@media (min-width: 1400px) {
    .container {
        justify-content: space-evenly;
        width: 100%;
    }

    .logo {
        margin: 0;
    }

    .logo>img {
        max-width: 600px;
    }

    .container-center {
        flex-direction: row;
        align-items: flex-start;
        position: relative;
    }

    .services {
        gap: 10px;
        position: absolute;
        left: -200px;
    }

    .services>div {
        max-width: 245px;
        padding: 10px;
        background-color: rgb(244, 239, 235);
        box-shadow: 0 1px 1px 1px rgba(0, 0, 0, 0.1);
        flex-direction: column;
        border-radius: 5px;
    }

    .services>div>div {
        flex-direction: row;
        justify-content: space-between;
    }

    .services img {
        max-width: 80px;
    }

    .select-service {
        font-size: 15px;
        gap: 30px;
        align-items: flex-end;
    }

    .welcome {
        width: 900px;
        height: 70dvh;
    }

    .text-welcome>.text {
        width: 300px;
        justify-content: flex-start;
        margin-right: 150px;
        margin-top: 40px;
    }

    .text-action {
        display: flex;
        position: absolute;
        bottom: 5%;
        left: 25%;
    }

    .text-welcome h1 {
        font-size: 2.2rem;
    }

    .text-welcome p {
        font-size: 1rem;
    }

    .text-welcome button {
        padding: 10px 50px;
        font-size: 18px;
        margin-top: 20px;
    }

    .reviews {
        right: -220px;
        position: absolute;
    }

    .reviews>h1 {
        align-self: flex-end;
    }

    .reviews>div {
        border-radius: 5px;
        max-width: 350px;
    }

    .footer {
        gap: 20px;
        position: relative;
        left: -150px;
        bottom: 10px;
    }

    .footer a {
        flex-direction: row;
        flex-wrap: nowrap;
        align-items: center;
        padding: 10px 20px;
    }

    .footer>a>span {
        display: flex;
    }
}