*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html, body, #root {
  height: 100dvh;
}

body {
  font: 14px;
  background-color: #C3D2E9;
  font-family: "Poppins", sans-serif;
  font-style: normal;
}

button, a{
  text-decoration: none;
  cursor: pointer;
  transition: all 0.3s;
}

ul{
  list-style: none;
}

button:hover, a:hover{
  scale: 1.05;
}

textarea{
  resize: none;
  font-weight: 600;
}

input, select, textarea{
  width: 100%;
  padding: 15px 20px;
  border: 2px solid #fff;
  border-radius: 5px;
  font-size: 15px;
  background-color: #616e7a;
  color: #ffffff;
}

input:focus, select:focus, textarea:focus {
  outline: none;
}

input::placeholder, select::placeholder, textarea::placeholder {
  color: #C3D2E9;
}
